body {
  font-family: "Lobster", cursive;
  background-color: rgb(248, 232, 166);
}
.image-size {
  max-width: 800px;
}
a {
  color: rgb(116, 37, 8) !important;
  transition: width 2s;
}

a:hover {
  color: black !important;
}
